In [1]:
import re

In [17]:
import pandas as pd
import geonamescache

In [18]:
gc = geonamescache.GeonamesCache()

In [8]:
df = pd.read_csv('./headlines.txt', names=['headline'])

In [13]:
df.head(10)

                                  headline
0                 Zika Outbreak Hits Miami
1          Could Zika Reach New York City?
2        First Case of Zika in Miami Beach
3          Mystery Virus Spreads in Recife
4  Dallas man comes down with case of Zika
5        Trinidad confirms first Zika case
6   Zika Concerns are Spreading in Houston
7    Geneve Scientists Battle to Find Cure
8    The CDC in Atlanta is Growing Worried
9       Zika Infested Monkeys in Sao Paulo

In [15]:
from operator import itemgetter

def extract_names(text, d):
    for exp, name in sorted(d.items(), key=itemgetter(1)):
        if exp.search(text):
            return name

In [20]:
# process countries
countries = [country['name'] for country in gc.get_countries().values()]

re_countries = {
    re.compile(fr'\b{country}\b', re.IGNORECASE): country 
    for country in countries
}

df['countries'] = df['headline'].apply(lambda x: extract_names(x, re_countries))

In [23]:
# process cities
cities = [city['name'] for city in gc.get_cities().values()]

re_cities = {
    re.compile(fr'\b{city}\b', re.IGNORECASE): city 
    for city in cities
}

df['cities'] = df['headline'].apply(lambda x: extract_names(x, re_cities))

In [28]:
print(df.head(30))

                                             headline countries         cities
0                            Zika Outbreak Hits Miami      None          Miami
1                     Could Zika Reach New York City?      None  New York City
2                   First Case of Zika in Miami Beach      None          Miami
3                     Mystery Virus Spreads in Recife      None         Recife
4             Dallas man comes down with case of Zika      None         Dallas
5                   Trinidad confirms first Zika case      None       Trinidad
6              Zika Concerns are Spreading in Houston      None        Houston
7               Geneve Scientists Battle to Find Cure      None           None
8               The CDC in Atlanta is Growing Worried      None        Atlanta
9                  Zika Infested Monkeys in Sao Paulo      None           None
10              Brownsville teen contracts Zika virus      None    Brownsville
11  Mosquito control efforts in St. Louis take new...      None      St. Louis
12  San Juan reports 1st U.S. Zika-related death a...      None            San
13                          Flu outbreak in Galveston      None      Galveston
14                 Zika alert â€“ Manila now threatened      None         Manila
15                     Zika afflicts 7 in Iloilo City      None         Iloilo
16               New Los Angeles Hairstyle goes Viral      None           Goes
17                      Louisiana Zika cases up to 26      None           None
18               Orlando volunteers aid Zika research      None        Orlando
19                Zika infects pregnant woman in Cebu      None           None
20                Chicago's First Zika Case Confirmed      None        Chicago
21              Tampa Bay Area Zika Case Count Climbs      None            Bay
22               Bad Water Leads to Sickness in Flint      None          Flint
23                     Baltimore plans for Zika virus      None      Baltimore
24          London Health Unit Tracks Mad Cow Disease      None         London
25     Zika cases in Vietnam's Ho Chi Minh City surge   Vietnam             Ho
26                Philadelphia experts track pandemic      None   Philadelphia
27                             Flu season hits Boston      None         Boston
28            Scientists in Paris to look for answers      None          Paris
29           Key Zika Findings in San Diego Institute      None            San

In [29]:
df[['cities', 'countries']].describe()

       cities countries
count     593         9
unique    494         8
top        Of    Panama
freq       47         2