In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import numpy as np


# from mpl_tooklits.basemap import Basemap
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('processed_headlines_locations.csv')

In [12]:
# re-structure
locations = {'latitude' : [], 'longitude' : []}
cities = {'latitude': [], 'longitude': [], 'cities': [], 'countrycode': []}

for i in df['latitude']:
    locations['latitude'].append(i)
    cities['latitude'].append(i)

for i in df['longitude']:
    locations['longitude'].append(i)
    cities['longitude'].append(i)

for i in df['cities']:
    cities['cities'].append(i)

for i in df['countrycode']:
    cities['countrycode'].append(i)

new_df = pd.DataFrame(data=locations)
new_df_with_cities = pd.DataFrame(data=cities)
new_df_with_cities_db_scan = pd.DataFrame(data=cities)

In [13]:
# clean up
new_df = new_df.dropna(thresh=2)
new_df_with_cities = new_df_with_cities.dropna(thresh=2)
new_df_with_cities_db_scan = new_df_with_cities_db_scan.dropna(thresh=2)

In [14]:
clusters = range(1, 20)
kmeans_elbow = [KMeans(n_clusters=i) for i in clusters]
score = [kmeans_elbow[i].fit(new_df).score(new_df) for i in range(len(kmeans_elbow))]

In [15]:
new_df_with_cities["kmeans_label"] = kmeans_elbow[3].fit(new_df).labels_
new_df["kmeans_label"] = kmeans_elbow[3].fit(new_df).labels_

In [16]:
new_df.head()

   latitude  longitude  kmeans_label
0  25.77427  -80.19366             2
1  40.71427  -74.00597             2
2  25.79065  -80.13005             2
3  -8.05389  -34.88111             1
4  32.78306  -96.80667             2

In [17]:
new_df_with_cities.head()

   latitude  longitude         cities countrycode  kmeans_label
0  25.77427  -80.19366          Miami          US             0
1  40.71427  -74.00597  New York City          US             0
2  25.79065  -80.13005    Miami Beach          US             0
3  -8.05389  -34.88111         Recife          BR             3
4  32.78306  -96.80667         Dallas          US             0